name: Android CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Agregado para que puedas ejecutarlo manualmente si quieres

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/release
        # AQUI ESTABAN LOS ERRORES, YA CORREGIDOS:
        signingKeyBase64: ${{ secrets.STORE_FILE }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: Ruta51-Oficial-Release
        path: app/build/outputs/apk/release/*.apk